/*最外部div*/
.address_mask{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow: hidden;
}
.address_select{
	background-color: white;
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 0;
	left: 0;
	z-index: 1001;
	color:#363837;
}
/*按钮样式 start*/
.address_btn_box{
    height: 48px;
}
.address_btn_box > div{
	display: inline-block;
	width: 60px;
    height: 28px;
	border-radius: 4px;
	background-color: #E33333;
	color: #ffffff;
	text-align: center;
	line-height: 28px;
	font-size: 14px;
}
.address_btn_box .btn_cancel{
	position: absolute;
	left: 10px;
	top: 10px;
}
.address_btn_box .btn_confirm{
	position: absolute;
	right: 10px;
	top: 10px;
}
/*按钮样式 end*/
/*地址选择样式 start*/
.address_roll{
	display: -webkit-box;
	width: 100%;
	height: auto;
	overflow: hidden;
	font-weight: bold;
	font-size: 0;
    -webkit-mask: -webkit-linear-gradient(top, #debb47 50%, rgba(36, 142, 36, 0));
}
.address_roll > div{
	position: relative;
	-webkit-box-flex:1;
	width: 1%;
	height: 105px;
	font-size: 14px;
	text-align: center;
    -webkit-mask: -webkit-linear-gradient(bottom, #debb47 50%, rgba(36, 142, 36, 0));

}
.tooth{
	height: 35px;
	line-height: 35px;
	overflow: hidden;
}
.gear{
    position: absolute;
    margin-top: 35px;
    z-index: 2;
    width: 100%;
}
.address_province,.address_city,.address_county{
}
/*地址选择样式 end*/
/*选中的区域start*/
.select_area{
    position: absolute;
    top: 35px;
    width: 100%;
    margin: 0;
    height: 35px;
    box-sizing: border-box;
    z-index: 0;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
/*选中的区域end*/
/*弹出动画*/
.slideInUp {
	animation: slideInUp .3s ease-in;
	-webkit-animation: slideInUp .3s ease-in
}

@-webkit-keyframes slideInUp {
	from {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}
	to {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}